# Тема “Предобработка текста с помощью Python”
 
## Осуществим предобработку данных с Твиттера, чтобы очищенные данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания. Для работы объединим train_df и test_df.

Задания:
<ol>
    
<li><a href="#task_1">Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию:
для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
    для для замены @user на пробел, необходимо использовать re.sub()</a>
<li><a href = "#task_2">Изменим регистр твитов на нижний с помощью .lower().</a>
<li><a href = "#task_3">Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).</a>
<li><a href = "#task_4">Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.</a>
<li><a href = "#task_5">Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.</a>
<li><a href = "#task_6">Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.</a>
<li><a href = "#task_7">Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.</a>
<li><a href = "#task_8">Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.</a>
<li><a href = "#task_9">Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).</a>
<li><a href = "#task_10">Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.</a>
<li><a href = "#task_11">Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.</a>
<li><a href = "#task_12">Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.</a>
<li><a href = "#task_13">Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.</a>
<li><a href = "#task_14">Сохраним результат предобработки в pickle-файл.</a>
</ol>

### Словари для замены:

#### apostrophe_dict

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}

#### short_word_dict

In [2]:
short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}

#### emoticon_dict

In [3]:
emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

### Импорт библиотек

In [4]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings
import pickle
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

### Функции для предобработки

#### _key_in_tweet & chec_all_dict_keys

In [5]:
def _key_in_tweet(key: str, df: pd.DataFrame)->pd.DataFrame:
    """Функция возвращения датафрейма с колонками:['idx', 'tweet', 'key']
    
    Args:
        key (str): [description]
        df (pd.Dataframe): [corpus]

    Returns:
        pd.Dataframe: [columns: idx: int, tweet: str, key: str]
    """
    tweet_dict={'idx':[], 'tweet': [], 'key': []}
    for i in range(len(df['tweet'])):
        if key in df['tweet'][i]:
            tweet_dict['idx'].append(int(i))
            tweet_dict['tweet'].append(df['tweet'][i])
            tweet_dict['key'].append(key)
    return pd.DataFrame(tweet_dict) 
            
    
def chec_all_dict_keys(dict_keys: dict, df: pd.DataFrame)->pd.DataFrame:
    """[Функция конкатенации датафреймов которые возвращает функция: _key_in_tweet]

    Args:
        dict_keys (dict): [Словарь со значениями ключ(вхождение в твит)
                           значение(замена вхождения ключа в твите)]
        df (pd.DataFrame): [corpus]

    Returns:
        pd.Dataframe: [columns: idx: int, tweet: str, key: str]
    """
    for key in dict_keys.keys():
        if key==list(dict_keys.keys())[0]:
            # print('*', sep='|')
            res_df =_key_in_tweet(key, df)
        else:
            # print('*', sep='|')
            res_df= pd.concat([res_df, _key_in_tweet(key, df)])   
    return res_df

#### _deluser

In [6]:
@np.vectorize
def _deluser(tweet: str)->str:
    """Функция(вектаризованная декоратором np.vectorize) удаление занчений @user из твитов по шаблону регулярного выражения:
    r'@[\w]*' 

    Args:
        tweet (str): [Документ корпуса]

    Returns:
        str: [документ с удаленными значениями]
    """
    tweet = re.sub(r"@[\w]*", '', tweet)
    return tweet

#### _del_by_dict_sub

In [7]:
@np.vectorize
def _del_by_dict_sub(tweet: str, dict_sub: dict, flag_r: bool=True)->str:
    """[Функция(вектаризованная декоратором np.vectorize)
        замены входящих в твит слов(ключей)
        по словарю со значениями ключ: значение]

    Args:
        tweet (str): [Твит(текст)]
        dict_sub (dict): [Словарь со значениями ключ(что заменять): значение(на что заменять)]
        flag_r (bool, optional): [description]. Defaults to True.
    
    Returns:
        str: [возвращение текста с замещением ключа, значением из словаря {ключ: значение}]
    """
    for word in tweet.split():
        if word in dict_sub.keys():
            if flag_r:
                # tweet = re.sub(r"\b"+word+r"{1,}\b", dict_sub[word], tweet)
                tweet = re.sub(r"\b"+re.escape(word)+r"{1,}\b", dict_sub[word], tweet)
            else:
                tweet = re.sub(re.escape(word)+r"{1,}", dict_sub[word], tweet)
    return tweet

#### _del_stopwords

In [8]:
def _del_stopwords(tweet_token: list,
                   stop_words: nltk.corpus.stopwords.words = nltk.corpus.stopwords.words('english')) -> list:
    """[Функция удаления стоп слов из списка токенов твита]

    Parameters
    ----------
    tweet_token : list
        [список токенов ]
    stop_words : nltk.corpus.stopwords.words, optional
        [список стоп слов], by default nltk.corpus.stopwords.words('english')

    Returns
    -------
    list
        [очищенный от стоп слов список токенов]
    """
    return [word for word in tweet_token if word not in stop_words]

#### _tweet_stemmer

In [9]:
def _tweet_stemmer(tweet_token: list,
                  stemmer: nltk.stem.PorterStemmer = nltk.stem.PorterStemmer()) -> list:
    """[Функция получения списка токенов после стемминга]

    Parameters
    ----------
    tweet_token : list
        [список токенов ]
    stemmer : nltk.stem.PorterStemmer, optional
        [функция стемминга], by default nltk.stem.PorterStemmer()

    Returns
    -------
    list
        [список токенов после стемминга]
    """
    return [stemmer.stem(word) for word in tweet_token]

#### _tweet_lemmatizer

In [10]:
def _tweet_lemmatizer(tweet_token: list,
                     lemmatizer: nltk.stem.wordnet.WordNetLemmatizer = nltk.stem.wordnet.WordNetLemmatizer()) -> list:
    """[Функция получения списка токенов после лемматизации]

    Parameters
    ----------
    tweet_token : list
        [список токенов]
    lemmatizer : nltk.stem.wordnet.WordNetLemmatizer, optional
        [функция лемматизации], by default nltk.stem.wordnet.WordNetLemmatizer()

    Returns
    -------
    list
        [список токенов после лемматизации]
    """
    return [lemmatizer.lemmatize(word) for word in tweet_token]

### Загрузка данных

In [11]:
train_df = pd.read_csv('train_tweets.csv')
print(train_df.info())
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB
None

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [12]:
test_df = pd.read_csv('test_tweets.csv')
print(test_df.info())
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17197 entries, 0 to 17196
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      17197 non-null  int64
 1   tweet   17197 non-null  object
dtypes: int64(1), object(1)
memory usage: 268.8+ KB
None

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

### Объединение данных для предобработки

In [13]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
print(combine_df.info())
combine_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

### Создание датафреймов количество случев для замены значений

In [14]:
apostrophe_df = chec_all_dict_keys(apostrophe_dict, combine_df)
short_word_df = chec_all_dict_keys(short_word_dict, combine_df)
emoticon_df = chec_all_dict_keys(emoticon_dict, combine_df)

#### Проверка количества случев для замены значений

In [15]:
apostrophe_df.shape[0]

9400

In [16]:
short_word_df.shape[0]

164993

In [17]:
emoticon_df.shape[0]

758

### Выполнение заданий

<p><a name="task_1"></a></p>

#### 1.Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию:

>для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)

>для для замены @user на пробел, необходимо использовать re.sub()

In [18]:
combine_df['tweet']= _deluser(combine_df['tweet'])
combine_df.head()

   id  label                                              tweet
0   1    0.0    when a father is dysfunctional and is so sel...
1   2    0.0    thanks for #lyft credit i can't use cause th...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

<p><a name="task_2"></a></p>

#### 2.Изменим регистр твитов на нижний с помощью .lower().

In [19]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda tweet: tweet.lower())
combine_df.head()

   id  label                                              tweet
0   1    0.0    when a father is dysfunctional and is so sel...
1   2    0.0    thanks for #lyft credit i can't use cause th...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

<p><a name="task_3"></a></p>

#### 3.Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: 
>для каждого слова в тексте проверить (for word in text.split()),
>>если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [20]:
apostrophe_df.head()

      idx                                              tweet    key
0   378.0   @user my sister ain't even know i was watchin...  ain't
1  4002.0  i wasted so much money on food this year...it ...  ain't
2  4264.0  middle fingers up! i ain't thinking bout you! ...  ain't
3  5349.0  when i say niggas ain't shit smh they aint shi...  ain't
4  6048.0  @user #thanks to all those  #dead #white #dude...  ain't

In [21]:
combine_df['tweet'] = _del_by_dict_sub(combine_df['tweet'], dict_sub=apostrophe_dict)

In [22]:
combine_df['tweet'][378]

'  my sister am not / are not even know i was watching her argue with the nigga ð\x9f\x98\x82ð\x9f\x98\x82ð\x9f\x98\x82 was waiting for him too say the wrong shit  '

<p><a name="task_4"></a></p>

#### 4.Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [23]:
short_word_df.tail()

        idx                                              tweet  key
9   32354.0  check  @user daddydub a super   father's day! ...  gr8
10  34985.0  me right now, #bethmoth22 #bethmoth #suicide #...  gr8
11  42043.0  another gr8 #review.    #childrensbook #friend...  gr8
12  42951.0  looking forward to the gathering  @user to cel...  gr8
13  43982.0  #proud n   moment see #standing ovation by #co...  gr8

In [24]:
combine_df['tweet'] = _del_by_dict_sub(combine_df['tweet'], dict_sub=short_word_dict)

In [25]:
combine_df['tweet'][42043]

'another great #review.    #childrensbook #friendship #kids #draw #read '

In [26]:
_key_in_tweet('wtf', combine_df).shape[0]

63

In [27]:
combine_df['tweet'][18029]   # ????

'noooo wtfffff pouseeey died #oitnbspoiler #oitnb #orangeisthenewblack   suprised #omg'

<p><a name="task_5"></a></p>

#### 5.Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [28]:
emoticon_df.shape[0]

758

In [29]:
combine_df['tweet'] = _del_by_dict_sub(combine_df['tweet'], dict_sub=emoticon_dict, flag_r=False)
combine_df['tweet'][150]

'when you know yall 2 aint going know where happy #love #commitment #trust #faithful  '

In [30]:
chec_all_dict_keys(dict_keys=emoticon_dict, df=combine_df)

        idx                                              tweet key
0     541.0    yep - grateful for everyday :)))) #gratitude...  :)
1    2461.0   it has / it is so soothing to see you on tv a...  :)
2    3355.0  yep - grateful for everyday :)))) #gratitude  ...  :)
3    3391.0  #gifts that show love is ##whatwomenwant occas...  :)
4    3458.0  6-4 placement games :))) now it has / it is ti...  :)
..      ...                                                ...  ..
18  38772.0  damn when i come back i wont be in sa or nothi...  :(
19  39015.0  no entiendo porque neighbors no esta en netfli...  :(
20  41550.0  uturama is ending...just like everything else ...  :(
21  41900.0    #depressed i just got accused of accepting b...  :(
22  47678.0                                      same :(((((    :(

[104 rows x 3 columns]

<p><a name="task_6"></a></p>

#### 6.Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

In [31]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda x: re.sub(r"[^\w\s]", '', x))
combine_df.head()

   id  label                                              tweet
0   1    0.0    when a father is dysfunctional and is so sel...
1   2    0.0    thanks for lyft credit i cannot use cause th...
2   3    0.0                                bihday your majesty
3   4    0.0  model   i love you take with you all the time ...
4   5    0.0               factsguide society now    motivation

<p><a name="task_7"></a></p>

#### 7.Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

In [32]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda x: re.sub(r"[^a-zA-Z0-9]", ' ', x))
combine_df.head()

   id  label                                              tweet
0   1    0.0    when a father is dysfunctional and is so sel...
1   2    0.0    thanks for lyft credit i cannot use cause th...
2   3    0.0                                bihday your majesty
3   4    0.0  model   i love you take with you all the time ...
4   5    0.0               factsguide society now    motivation

<p><a name="task_8"></a></p>

#### 8.Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

In [33]:
# combine_df['tweet'] = combine_df['tweet'].apply(lambda x: re.sub( r'[^a-zA-Z]', ' ', x))
combine_df['tweet'] = combine_df['tweet'].apply(lambda x: re.sub(r"[0-9]", '', x))
# паттерн  r'[^a-zA-Z]' кроме чисел описывает еще и пробельные символы
combine_df.head()

   id  label                                              tweet
0   1    0.0    when a father is dysfunctional and is so sel...
1   2    0.0    thanks for lyft credit i cannot use cause th...
2   3    0.0                                bihday your majesty
3   4    0.0  model   i love you take with you all the time ...
4   5    0.0               factsguide society now    motivation

<p><a name="task_9"></a></p>

#### 9.Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

In [34]:
combine_df['tweet'][1]

'  thanks for lyft credit i cannot use cause they do not offer wheelchair vans in pdx    disapointed getthanked'

In [35]:
combine_df['tweet'] = combine_df['tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>1]))
#combine_df['tweet'] = combine_df['tweet'].apply(lambda x: re.sub(r"\s\w{1}\s", ' ', x))
#combine_df['tweet'] = combine_df['tweet'].apply(lambda x: re.sub(r"\b\w{1}\b", ' ', x))
combine_df.head()

   id  label                                              tweet
0   1    0.0  when father is dysfunctional and is so selfish...
1   2    0.0  thanks for lyft credit cannot use cause they d...
2   3    0.0                                bihday your majesty
3   4    0.0    model love you take with you all the time in ur
4   5    0.0                  factsguide society now motivation

In [36]:
combine_df['tweet'][1]

'thanks for lyft credit cannot use cause they do not offer wheelchair vans in pdx disapointed getthanked'

<p><a name="task_10"></a></p>

#### 10.Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [37]:
# nltk.download('punkt')

In [38]:
combine_df['tweet_token'] = combine_df['tweet'].apply(nltk.tokenize.word_tokenize)
combine_df.head()

,id,label,tweet,tweet_token
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ..."
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]"

<p><a name="task_11"></a></p>

#### 11.Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [39]:
combine_df['tweet_token_filtered'] = combine_df['tweet_token'].apply(_del_stopwords)
combine_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]"

<p><a name="task_12"></a></p>

#### 12.Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [40]:
combine_df['tweet_stemmed'] = combine_df['tweet_token_filtered'].apply(_tweet_stemmer)
combine_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]"

<p><a name="task_13"></a></p>

#### 13.Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [41]:
# nltk.download('wordnet')

In [42]:
combine_df['tweet_lemmatized'] = combine_df['tweet_token_filtered'].apply(_tweet_lemmatizer)
combine_df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

<p><a name="task_14"></a></p>

#### 14.Сохраним результат предобработки в pickle-файл.

In [43]:
with open('preprocessing_tweets_hw1.pkl', 'wb+') as f:
    pickle.dump(combine_df, f)

In [44]:
with open('preprocessing_tweets_hw1.pkl', 'rb') as f:
    data = pickle.load(f)

data.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"